@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Staatliches&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Balsamiq Sans', cursive;
}
.resume{
    margin:37px 37px 0 37px;
    display:flex;
    justify-content: space-between;
}
.logo{
    height:40px;
    width:85px;
}
button{
    height:30px;
    font-size:1rem;
    width:85px;
    border-radius: 20px;
    outline: none;
    border:2px solid #FF7701;
    color:#FF7701;
    background-color:#fff;
    box-shadow: -1px -1px 10px #FF7701;
}
button:hover{
    background-color:#FF7701;
    color:#fff;
    transition:0.5s ease;
    cursor: pointer;
    box-shadow: -1px -1px 10px #FF7701;
}
.intro{
    max-width:976px;
    /*border:1px solid black;*/
    margin:37px auto 0 auto;
    text-align: center;
    color:#D900FE;
    letter-spacing: 2px;;
}
.img{
    height:300px;
    max-width:300px;
    margin:0 auto 0 auto;
    border-radius:10px;
}
.img:hover {
    -webkit-box-shadow: -1px -1px 13px -1px rgba(97,97,97,0.67);
    transition: ease-in .3s;
}
.mid{
    margin-top:1em;
    background-color:#FF7701;
    width:100%;
    height:auto;
    padding-top:2em;
    
}
.mid>p{
    padding:0 1rem 2rem;
}

span{
    text-align: center;
}
h2{
    color:#D900FE;
    /*max-width:375px;*/
    text-align: center;
    margin:0 auto 10px auto;
    letter-spacing: 1px;
}
h3{
    font-size:1.3rem;
    padding:10px;
    color:#fff;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
}
p{
    padding:0 2em 2em;
    color:#fff;
    font-size:1.5rem;
    letter-spacing: 2px;
    line-height: 38px;;
}
strong{
    border-bottom: 3px solid #fff;
}
.pro{
    color:#0C395B;
}
#project-sec{
    margin-top:1em;
}
.project-sec{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:2em 2em 0 2em;
}
.project{
    height:410px;
    width:350px;
    margin-bottom:0.5em; 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.info{
    text-align: center;
    color:#0C395B;
    padding-bottom:0;
    
}
footer{
    width:100%;
    height:auto;
    background-color:#0C395B;
    padding:1em 0;
    padding-bottom:2em;
}
.link{
    margin:0 auto 2em;
    max-width:14.7em;
}
i{
    color:#0C395B;
    font-size:2em;
    margin:6px;
}
i:hover{
    cursor: pointer;
    color:#FF7701;
    transition:0.2s ease;
}
#pro1,#pro2,#pro3{
    color:#D900FE;
    font-size:4em;
    text-align: center;
    position: relative;
    
}
.pro{
    padding-bottom:0;
}
.pro{
    padding-bottom:0;
}
.project>img{
    width:350px;
    height:250px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.project>p{
    padding-bottom:0;
}
.con{
    max-width:22em;
    margin:auto;
}
.contact{
    font-size:2rem;
    text-align: center;
}
input[type="text"]{
    padding:1em;
    width:100%;
    margin-bottom:1em;
}
textarea{
    padding:1em;
    width:100%;
    height:3em;
    margin-bottom: 1em;
}
.send{
    padding-left:2px;
    border-radius:0;
    color:#fff;
    background-color: #FF7701;
    box-shadow: none;
}
.send:hover{
    box-shadow: 0px 0px 5px #FF7701;
}
.sk{
    margin-top:2em;
}
.skill {
    width: 100%;
    background-color: #fff;
    padding:10px;
  }
  .skill p{
      font-size:1rem;
      color:#0C395B;
      margin:9px auto 0px auto;
      padding:0;
  }
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.container{
    background-color: rgb(221, 219, 219);
    border-radius: 10px;;
  }
  
.html {
    width: 90%; background-color: #D900FE;
}
.css {
    width: 80%; background-color: #2196F3;
} 
.python {
    width: 65%; background-color: #0C395B;
} 
.js {
    width: 35%; background-color: #e47004;
} 
.bar{
    background-color:#D900FE;
    width:338px;
    height:40px;
    border-radius:10px;
    margin-top:-20px;
    padding:10px 5px;
    position:absolute;
    left:50%;
    right:50%;
    transform: translate(-50%,0%);
}
.bar a{
    margin:1em;
    color:#fff;
    text-decoration: none;
    font-size:1rem;
    text-align: center;
}
.bar a:hover{
    color:#f6f2f7a1;
}
.ski{
    color:#0C395B;
    padding-bottom:0;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project:hover img{
  opacity: 0.7;
}
  
  .project:hover .middle {
    opacity: 1;
  }
  .text {
    display: block;
    background-color: #FF7701;
    color: white;
    font-size: 16px;
    padding: 8px 26px;
    border-radius:10px;
  }
  .text a{
    text-decoration: none;
    color:#fff;
  }
  @media screen and (min-width: 900px){
      .sk{
          margin:auto;
          max-width:800px;
      }
      .mid>p{
          padding: 0 10em 3em;
      }
      .pro{
          margin:1em 0;
      }
      .con{
        max-width:40em;
        margin:auto;
    }
  }
.fa-map-marker-alt,.fa-phone,.fa-envelope,.contact-logo,.reach{
    color:#FFF;
    font-size:1rem;
    margin-bottom:1em;
}
.contact-logo>i{
    color:#ffa601;
}
.fa-paper-plane{
    color:#fff;
    font-size:15px;
}
.fa-paper-plane:hover{
    color:#fff;
}
.para{
    color:#0C395B;
    padding:0;
    font-size:1rem;
    letter-spacing: 0;
    line-height: 20px;
    text-align: justify;
    margin:0 1em 1em;
}
.fa-js-square,.fa-python,.fa-css3-alt,.fa-html5{
    margin:0;
    padding:0;
    color:#fff;
    font-size:1rem;
}
